
<section class="container">
	<div class="row">
		<div class="col-md-6 text-right">
			<p> <%=image_tag(@user.photo)%></p>
		</div>
		<div class="col-md-6">
			<div class="field">
			<h3> <%=@user.name%> </h3>
			<p> <%=@user.last_name%> </p>
			<p> <%=@user.sector%> </p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
				<ul id="lista2">
				<% @items.each do |item| %> 
					<li><%= item.name %></li>
					<!--<li><%= item.photo %></li> -->
				<% end %>
				</ul>
		</div>
	</div>
</section>

