
<p>En esta página te muestran la información de cada usuario dependiendo el ID</p>

<div>
	Name
</div>
<div>
	<%=@user.name%>
</div>	<br>

<div>
	Last name
</div>
<div>
	<%=@user.last_name%>
</div>	<br>

<div>
	Username
</div>
<div>
	<%=@user.username%>
</div>	<br>

<div>
	Sector
</div>
<div>
	<%=@user.sector_id%>
</div>	<br>

<div>
	Photo
</div>
<div>
	<%=@user.photo%>
</div>	<br>


