

<!-- <h1> Esta es la pagina principal </h1> -->


<div class="col-md-12 text-center center-block ">
	

	<div class="animsition">

	<%=image_tag "TekeLog-02.png" , class:"img-responsive center-block animsition-link" %>
  
  </div>	

		
</div>

<div class="row tf WFdiv">

  <div class="col-md-5 col-md-offset-2">
  	
  	<h3 class="t3"> TRUEQUE </h3>

	Tu plataforma para el intercambio de objetos, ¡olvidate del dinero y di Hola al trueque!

  </div>
	

	<div class="col-md-3">

		<div type="button" class="btn btn-default btn-lg col-md-12 "> 

			<%= link_to "Create account", new_user_path %> 
		</div>


		<div type="button" class="btnW btn btn-default btn-lg col-md-12">
			<% if current_user %>
		    Welcome <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			<% else %>
			    <%= link_to 'Login', new_user_session_path %>
			<% end %>
		</div>

	</div>

</div>
</div>
</body>