<p id="notice"><%= notice %></p>

<p>
  <strong>Object one:</strong>
  <%= @match.object_one_id %>
</p>

<p>
  <strong>Object two:</strong>
  <%= @match.object_two_id %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
