<%= form_for(@item,html:{multipart:true}) do |f| %>



  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="TruForm2" class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div id="TruForm2" class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div id="TruForm2" class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id ,Category.all.collect{|c|[c.name, c.id]} %>
  </div>
  <div id="TruForm2" class="field">
    <%= f.label :characteristics %><br>
    <%= f.text_area :characteristics %>  <!-- Sony, has el text mas grande -->
  </div>
    
    

    <%= f.submit class:"Formbtn btn btn-default btn-lg col-md-4. btn.sharp  "  %>
  
<% end %>

