
<p id="notice"><%= notice %></p>

<div class="col-md-12 text-center">
	<h1>
	<%= @item.category %>
	</h1>
</div>

<div class="col-md-12 text-center">
	<div class="img-responsive">
		<%= image_tag @item.photo %>
	</div>
</div>

<br>

<div class="col-md-12 text-center">
	<h1> <%= @item.name %> </h1>
	<p> <%= @item.characteristics %> </p>
</div>


<section="botones">
	<div class="row">

		<div class="col-md-offset-4 col-md-1" > <!-- NO -->
			<%= link_to(random_path) do %> 
				<div class="col-md-offset-4">
					<span class="glyphicon glyphicon-remove-sign"></span>
				</div>
			<%end%>
		</div>

		<div class="col-md-offset-2 col-md-1"> <!-- SI -->
			<%= link_to(likes_path(like: {user_id: current_user.id, item_id: @item.id}),method: :post)  do %> 
				<div class="col-md-offset-4">
					<span class="glyphicon glyphicon-heart"></span>
				</div>
			<%end%>
		</div>

	</div>
</section>

<br>