
<section class="container text-center">

<p id="notice text-left"><%= notice %></p>

<h2>
  <strong>Name:</strong> <br>
  <%= @item.name %>
</h2>

<p>
  <strong>Photo:</strong> <br>
  <%= image_tag(@item.photo)if @item.photo?  %>
</p>

<p>
  <strong>Category:</strong> <br>
  <%= @item.category %>
</p>

<p>
  <strong>Characteristics:</strong> <br>
  <%= @item.characteristics %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

</section>